*
  margin: 0
  padding: 0
  outline: none
  border: none
  text-decoration: none
  box-sizing: border-box
  font-family: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace

body
  background: #dfe9f5

.app
  padding: 1vh

.content
  display: flex
  width: 100%


