.contact-container
  width: 100%
  height: 100%
  display: flex
  flex-direction: column
  overflow: hidden
  .contact-header
    height: 10%
    min-height: 80px
    max-height: 90px
    display: flex
    text-align: left
    align-items: center
    padding: 5px
    span
      padding-left: 25px
      font-size: 3em
  .contact-content
    margin: 20px
    width: 100%
    height: 100%
    display: flex
    flex-direction: row
    .contact-info
      width: 40%
      height: 100%
      padding: 10px
      background-color: #2691d9
      .info-header
        height: auto
        display: flex
        justify-content: center
        align-items: center
        text-align: center
        span
          font-size: 40px
    .info-container
      height: 100%
      display: flex
      flex-direction: column
      padding: 20px
      .e-mail
        display: inline-block
        padding: 20px
        span
          font-size: 25px
      .telephone
        display: inline-block
        padding: 20px
        span
          font-size: 25px
      .adress
        display: inline-block
        padding: 20px
        span
          font-size: 25px
    .contact-form
      width: 60%
      height: 100%
      .contact-header
        height: auto
        width: 100%
        box-shadow: none
      .form
        padding: 20px
        input, textarea, button
          margin: 15px
        textarea
          height: 200px

