.dashboard
  width: 100%
  height: 100%

.kcal-container
  padding: 15px
  height: 50%
  border-bottom: 2px solid lightgray

.chart
  height: 350px
  width: 350px

.makro-container
  height: 50%
  padding: 15px

.makro-charts
  height: 250px
  width: 250px
  margin: 80px


.title
  text-align: center
  height: 10%
  width: 100%
  font-size: 30px
  font-weight: bold

.chart-container
  height: 40%
  width: 100%
  display: flex
  justify-content: center






