.nav-container
  display: flex

nav
  position: relative
  border-radius: 30px
  top: 0
  bottom: 0
  height: 98vh
  left: 0
  background: #fff
  width: 300px
  overflow: hidden
  box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.5)


.logo
  text-align: center
  margin: 10px 10px 10px 10px
  border-bottom: 3px solid #eee

.logo img
  align-items: center
  width: 130px
  height: 130px
  border-radius: 50%

//.logo span
//  position: relative
//  top: auto
//  font-weight: bold
//  padding-left: 15px
//  font-size: 30px
//  text-transform: uppercase

a
  position: relative
  color: rgb(85, 83, 83)
  font-size: 14px
  display: table
  width: 280px
  padding: 10px

nav .icon
  position: relative
  width: 30px
  height: 25px
  top: auto
  font-size: 20px
  text-align: center

.nav-item
  position: relative
  font-size: 18px
  top: -5px
  margin-left: 10px
  height: 40px

a:hover
  background: #eee
  border-radius: 15px

.logo:hover
  background: none

.logout
  position: absolute
  bottom: 0

.dashboard-li
  text-align: left
  margin: 10px 10px 10px 10px



@media screen and (max-width: 950px)
  .nav-container
    width: 30px
    height: 30px
    padding: 0
    margin: 0
    display: block
    background: none
    border: none
    nav
      width: 70px
    span
      display: none
    .logo img
      width: 30px
      height: 30px
    a
      width: 30px


