.recipes-container
  width: 100%
  height: 100%
  padding: 15px
  display: flex
  flex-direction: column
  .header-container
    height: 10%
    min-height: 80px
    max-height: 90px
    display: flex
    text-align: left
    align-items: center
    padding: 5px
    span
      padding-left: 25px
      font-size: 3em
    .recipe-add
      padding-left: 20px
  input[type=text]
    width: auto
    border: 1px solid black
    border-radius: 5px
    padding: 12px 20px
    margin: 14px 0
  .content-container
    height: 100%
    display: flex
    flex-wrap: wrap
    overflow: auto
    margin: -10px
    width: 100%
    .cards-container:hover
      cursor: pointer
    .cards-container
      height: 400px
      flex: 0 0 calc(25% - 20px)
      max-width: calc(25% - 20px)
      box-sizing: border-box
      padding: 10px
      margin: 10px
      box-shadow: 0px 0px 6px 1px rgba(66, 68, 90, 1)
      border-radius: 15px
      .card-img
        height: 70%
        background-color: white
        border-bottom: 1px solid grey
        display: flex
        justify-content: center
        align-items: center
        img
          left: 0
          height: 100%
          width: 100%
      .card-name
        height: 20%
        justify-content: center
        align-items: center
        display: flex
        span
          font-size: 20px
      .add
        position: relative
        height: 10%
        font-size: 30px
        display: flex
        justify-content: center
  .pagination
    position: absolute
    display: flex
    justify-content: center
    align-items: center
    bottom: 0
    font-size: 25px
    left: 57%
    text-align: center

#modal-newRecipe, #modal-editRecipe
  position: fixed
  top: 50%
  left: 60%
  transform: translate(-50%, -50%)
  width: 70%

@media screen and (max-width: 950px)
  .recipes-container
    width: 100%
    height: 100%
    display: flex
    flex-direction: column
    .header-container
      height: 10%
      min-height: 80px
      max-height: 90px
      display: flex
      text-align: left
      display: flex
      span
        font-size: 25px
    input[type=text]
      width: auto
      border: 1px solid black
      border-radius: 5px
    .content-container
      height: 100%
      width: 100%
      display: flex
      flex-wrap: wrap
      overflow: auto
      margin: 0
      justify-content: center
      .cards-container
        height: 300px
        flex: 0 0 calc(100% - 20px)
        max-width: calc(100% - 20px)
        box-sizing: border-box
        box-shadow: 0px 0px 6px 1px rgba(66, 68, 90, 1)
        border-radius: 5px
        .card-img
          height: 70%
          background-color: white
          border-bottom: 1px solid grey
          display: flex
          justify-content: center
          align-items: center
          img
            left: 0
            height: 100%
            width: 100%
        .card-name
          height: 20%
          justify-content: center
          align-items: center
          display: flex
          span
            font-size: 20px
        .add
          position: relative
          height: 10%
          button
            position: absolute
            bottom: 0
            left: 0
    .pagination
      position: fixed
      font-size: 18px
      width: auto
      justify-content: center
      text-align: center
      align-items: center
      bottom: 0
      right: 40%
