.list-container
  width: 100%
  height: 100%
  padding: 15px
  .list-header
    height: 10%
    min-height: 80px
    max-height: 90px
    display: flex
    text-align: left
    align-items: center
    padding: 5px
    span
      padding-left: 25px
      font-size: 3em
  .list-content
    height: 90%
    width: 100%
    .list-actions
      display: flex
      justify-content: center
      align-items: center
      button
        margin: 5px
    .list
      padding-left: 30px
      padding-top: 5px
      scroll-behavior: smooth
      .list-item:hover
        background-color: lightgrey
        border-radius: 10px
      .list-item
        padding-left: 10px
        height: auto
        font-size: 26px
        .item-action
          position: absolute
          right: 0
          padding-right: 10px
      svg
        cursor: pointer
      svg:hover
        transform: scale(1.3)
        transition: transform 1s
      .active
        background-color: #00c58e
        border-radius: 10px
        cursor: pointer

#modal-shoppingItem
  position: fixed
  top: 50%
  left: 60%
  transform: translate(-50%, -50%)
  width: 400px

#modal-confirmation
  position: fixed
  top: 70%
  left: 60%
  transform: translate(-50%, -50%)
  width: 500px
  span
    font-size: 20px


@media screen and (max-width: 950px)
  .list-container
    width: 100%
    height: 100%
    .list-header
      height: 10%
      min-height: 80px
      max-height: 90px
      display: flex
      text-align: left
      display: flex
      span
        font-size: 25px
    .list-content
      height: 90%
      width: 100%
      .list-actions
        display: flex
        justify-content: center
        align-items: center
        button
          font-size: 12px
          margin: 5px
      .list
        padding-left: 30px
        padding-top: 5px
        scroll-behavior: smooth
        .list-item
          padding-left: 10px
          height: auto
          font-size: 18px
          .item-action
            position: absolute
            right: 0
            padding-right: 10px
        svg
          cursor: pointer
        svg:hover
          transform: scale(1.3)
          transition: transform 1s
        .active
          background-color: #00c58e
          border-radius: 10px
          cursor: pointer
